<button [class]="'p-4 border-none outline-none text-white bg-custom-blue rounded-lg cursor-pointer hover:shadow-xl' +' ' + classes"
        [disabled]="disabled">{{ text }}</button>

<!--<button-->
<!--  type="submit"-->
<!--  class="-->
<!--        w-full-->
<!--        p-4-->
<!--        border-none-->
<!--        outline-none-->
<!--        mb-3-->
<!--        text-white-->
<!--        bg-custom-blue-->
<!--        rounded-[0.5rem]-->
<!--        cursor-pointer-->
<!--        hover:shadow-xl"-->
<!--  [disabled]="login.invalid || loading">-->
<!--  {{ loading ? 'Processing...' : 'login' }}-->
<!--</button>-->
