<div
  class="
        absolute
        rounded-[50%]
        top-[-7rem]
        left-[-3.5]
        w-[200px]
        h-[200]
        md:w-[400px]
        md:h-[400px]
        md:top-[-11rem]
        md:left-[-6.5rem]
        bg-custom-gradient"
></div>

<div
  class="
        absolute
        rounded-[50%]
        w-[200px]
        h-[200px]
        right-[-3.5]
        md:w-[300px]
        md:h-[300px]
        bottom-[-6rem]
        md:right-[-6.5rem]
        bg-custom-gradient
        rotate-180"
></div>
