<div class="relative h-screen overflow-hidden">

  <app-circles></app-circles>

  <div class=" h-screen grid justify-center items-center px-3 md:px-8 md:grid-cols-[1.5fr_1fr] overflow-y-auto">

    <img class="h-auto hidden max-w-full md:block md:w-[700px] md:justify-self-center"
         src="./authentication.svg"
         alt="image"
    >

    <form
      [formGroup]="form"
      (ngSubmit)="register()"
      class=" md:w-[400px] grid sm:grid-cols-1 md:grid-cols-2 gap-4"
    >

      <h1 class="text-3xl font-medium mb-4 md:text-[2.5rem] md:col-span-2">Welcome</h1>
      @for (field of inputFields(); track field.label) {
        <app-input-field [control]="field.control" [icon]="field.icon" [type]="field.type"
                         [label]="field.label"></app-input-field>
      }

      <div class="md:col-span-2">
        <app-button [classes]="'w-full'" [text]="'register'" [disabled]="form.invalid || isSubmitting()" [text]=" isSubmitting() ? 'Processing...' : 'register' "></app-button>
      </div>
      <app-social-links class="md:col-span-2" [socialOptions]="socialOptions()"></app-social-links>
    </form>
  </div>
</div>
