<div class="relative h-screen overflow-hidden">

  <div class="
  absolute
  rounded-[50%]
  top-[-7rem]
  left-[-3.5]
  w-[200px]
  h-[200]
  md:w-[400px]
  md:h-[400px]
  md:top-[-11rem]
  md:left-[-6.5rem]
  bg-custom-gradient"></div>

  <div
    class="
    absolute
    rounded-[50%]
    w-[200px]
    h-[200px]
    right-[-3.5]
    md:w-[300px]
    md:h-[300px]
    bottom-[-6rem]
    md:right-[-6.5rem]
    bg-custom-gradient
    rotate-180"></div>

  <div class=" h-screen grid justify-center items-center px-3 md:px-8 md:grid-cols-[1.5fr_1fr]">

    <img class="h-auto hidden max-w-full md:block md:w-[700px] md:justify-self-center" src="./authentication.svg"
         alt="">

    <form action="" class="w-[290px] md:[320px]">

      <h1 class="text-4xl font-medium mb-8 md:text-[2.5rem] ">Welcome</h1>

      <mat-form-field class="w-full ">
        <mat-label class="">User Name</mat-label>
        <input
          type="text"
          class="text-custom-gray"
          matInput

          [formControl]="usernameFormControl"
          [errorStateMatcher]="matcher">

        <mat-icon class="text-custom-gray" matPrefix >account_circle</mat-icon>
        @if (usernameFormControl.hasError('email') && usernameFormControl.hasError('required')) {
          <mat-error>Please enter a valid User name address</mat-error>
        }
        @if (usernameFormControl.hasError('required')) {
          <mat-error>User name is <strong>required</strong></mat-error>
        }
      </mat-form-field>


      <mat-form-field class="w-full">
        <mat-label class="">Password</mat-label>
        <input class="text-custom-gray " type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
        <mat-icon class="text-custom-gray" matPrefix >lock</mat-icon>
        @if (passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (passwordFormControl.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <a
        href="#"
        class="
          block
          text-right
          mb-8
          font-medium
          text-custom-gray
          hover:text-custom-blue
        ">Forgot Password?</a>

      <input
        type="submit"
        value="Login"
        class="
        w-full
        p-4
        border-none
        outline-none
        mb-3
        text-white
        bg-custom-blue
        rounded-[0.5rem]
        cursor-pointer
        hover:shadow-xl">

      <div class="text-center">
        <a
          routerLink="/register"
          class="
          block
          mb-6
          font-medium
          text-custom-gray
          hover:text-custom-blue
        ">register</a>
        <span class="block mb-4">Our login with</span>

        <a href="#"
           class="
           inline-flex
           justify-center
           items-center
           w-[30px]
           h-[30px]
           mr-4
           p-2
           bg-custom-gray
           rounded-[50%]
           text-white
           text-xl
           hover:bg-custom-blue">
          <i class='bx bxl-facebook'></i>
        </a>

        <a href="#"
           class="
           inline-flex
           justify-center
           items-center
           w-[30px]
           h-[30px]
           mr-4
           p-2
           bg-custom-gray
           rounded-[50%]
           text-white
           text-xl
           hover:bg-custom-blue"><i class='bx bxl-google'></i></a>

        <a href="#"
           class="
           inline-flex
           justify-center
           items-center
           w-[30px]
           h-[30px]
           mr-4
           p-2
           bg-custom-gray
           rounded-[50%]
           text-white
           text-xl
           hover:bg-custom-blue">
          <i class='bx bxl-instagram'></i>
        </a>
      </div>
    </form>
  </div>
</div>
