<div class="relative h-screen overflow-hidden">

<app-circles></app-circles>

  <div class=" h-screen grid justify-center items-center px-3 md:px-8 md:grid-cols-[1.5fr_1fr]">

    <img class="h-auto hidden max-w-full md:block md:w-[700px] md:justify-self-center" src="./authentication.svg"
         alt="">

    <form [formGroup]="login" (ngSubmit)="onSubmit()" class="w-[290px] md:w-[320px]">

      <h1 class="text-4xl font-medium mb-8 md:text-[2.5rem] ">Welcome</h1>

      @for (field of inputFields; track field.label) {
        <app-input-field [control]="field.control" [icon]="field.icon" [type]="field.type"
                         [label]="field.label"></app-input-field>
      }

      <a
        href="#"
        class="
          block
          text-right
          mb-8
          font-medium
          text-custom-gray
          hover:text-custom-blue
        ">Forgot Password?</a>

      <app-button class="" [classes]="'w-full'" [disabled]="login.invalid || loading()" [text]=" loading() ? 'Processing...' : 'login' "></app-button>

      <div class="text-center">
        <a
          routerLink="/register"
          class="
          block
          mb-6
          font-medium
          text-custom-gray
          hover:text-custom-blue
        ">register</a>

        <app-social-links
          [socialOptions]="socialOptions()"
          class="text-center col-span-2"></app-social-links>
      </div>
    </form>
  </div>
</div>
